{%extends 'base.html'%}
{%block body_block%}

<div class="row">
    <div class="class-2"></div>
    <div class="class-8">
        <div class="card" style="width: 18rem;">
  <img src="{{request.user.employer.logo.url}}" class="card-img-top" alt="No logo found">
  <div class="card-body">
    <h5 class="card-title">{{request.user.employer.company_name}}</h5>
    <p class="card-text">Infosys Limited is an Indian multinational information technology company that provides business consulting, information technology and outsourcing services. The company was founded in Pune and is headquartered in Bangalore</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{request.user.email}}</li>
    <li class="list-group-item">{{request.user.employer.company_name}}</li>
    <li class="list-group-item">{{request.user.employer.location}}</li>
  </ul>
  <div class="card-body">

    <a href="{%url 'emp-editprofile' request.user.employer.id%}" class="card-link">Update Profile</a>
  </div>
</div>




    </div>
    <div class="class-2"></div>
</div>

{%endblock%}